body{
    margin: 0px;
    /* background: linear-gradient( to right, rgb(173, 233, 170),rgb(5, 124, 49));
     */
     background-color: white;
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
#moviedetails{
    background-color: linear-gradient(to bottom, rgb(4, 14, 3),rgb(242, 245, 241));;
}
#poster{
    margin-top: 15px;
    margin-left: 2px;
    border: 4px solid rgb(69, 81, 69);

}
#poster:hover{
    transform: scale(1.1);
    /* height:310px;
    width:260px; */
    box-shadow: 5px 2px 10px rgb(255, 255, 255);
 
}
nav{
    height:140px;
    
    border-bottom:5px solid rgb(46, 45, 45);
    padding-top: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-image: linear-gradient(to top, rgb(12, 59, 9),rgb(41, 206, 19));
     */
    
     background: linear-gradient(to top, rgb(4, 14, 3),rgb(242, 245, 241));
}

#title{
    color: white;
}
#releasedate{
    color: white;
}
#ratings{
    color: white;
}
#story{
    color: white;
}

#moviedetails{
    margin-top: 5px;
    /* margin-left: 10px; */
    height: 28rem;
    width:70rem;
    border-radius: 10px;
    border:5px solid white;
    background-image: linear-gradient(to bottom, rgb(4, 14, 3),rgb(242, 245, 241));;;

}
ul{
    list-style: none ;
    justify-content: right;
    display: flex; 
    padding-right: 1rem; 
    text-decoration: none; 

}
li{
    background-color: white;
    height:16px;
    width:80px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 50px;
    border-color: rgb(29, 33, 33);
    padding: 20px;
    margin-left: 60px;
}
li:hover{
   transform: scale(1.1);
}
a{
    font-family:Calibri;
   font-size: larger;
    color: black;
    text-decoration: none;
    margin-left: 17px;
}
#sign{
    font-family:Calibri;
    font-size: larger;
     color: black;
     text-decoration: none;
     margin-left: 20px; 
}
.trailerbutton{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    height: 80px;
    width: 140px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 70px 0px 30px 0px;
    background-image: url(youtube.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-color: white;
    background-size: 50px;
    padding:30px 5px 0px 0px;
    cursor: pointer;
    border-radius: 50px;
    border: 4px solid rgb(31, 35, 31)

}

 button:hover{
    /* width:150px;
    height: 90px; */
    transform: scale(1.1);
    transition: all 150ms ;
    box-shadow: 5px 2px 10px rgb(62, 62, 62);
 }


.musicbutton{
    border: 4px solid rgb(62, 62, 62);;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    height: 80px;
    width: 140px;
    margin-top: 50px;
    margin-left: 160px;
    padding: 80px 0px 30px 0px;
    background-image: url(ytmusic.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-color: white;
    background-size: 45px;
    padding:30px 5px 0px 0px;
    cursor: pointer;
    border-radius: 50px;
}
.reviewbutton{
    border: 4px solid rgb(62, 62, 62);;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    height: 80px;
    width: 140px;
    margin-top: 50px;
    margin-left: 160px;
    padding: 80px 0px 30px 0px;
    background-image: url(youtube.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-color: white;
    background-size: 50px;
    padding:30px 5px 0px 0px;
    cursor: pointer;
    border-radius: 50px;
}
@media screen and (max-width:700px) {
nav{
    height: 87px;
    width: auto;
}
    ul{
        position: absolute;
        right:0;
        top:0;
    padding: 0;
  
}
li{

 padding: 10px;
   margin-left: 10px;
}
#poster{
    height: 160px;
    width:150px;
}
#moviedetails{
    width: auto;
}
#title{
    inline-size: 200px;
    white-space: wrap;
     /* word-wrap: break-word; */
     overflow-wrap: break-word;
    font-size: medium;
}
#story{
    inline-size: 200px;
   white-space: wrap;
    font-size: small;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    /* text-overflow: clip; */
}
#releasedate{
    font-size: medium;
}
#ratings{
    font-size: medium;
}
.trailerbutton{
    position: absolute;
    left:0;
    margin: 0;
    margin-left: 57px;
    height:60px;
    width:100px;
    background-size: 30px;
    font-size: small;
    padding: 10px 0px 0px 0px;}
.musicbutton
{
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 7px;
    height:60px;
    width:100px;
    background-size: 30px;
    font-size: small;
    padding: 19px 0px 0px 0px;
}
.reviewbutton{
    margin: 0;
    margin-right: 15px;
    position: absolute;
    bottom: 150;
    height:60px;
    width:100px;
    background-size: 30px;
    font-size: small;
    padding: 10px 0px 0px 0px;
}}